body, html {
    overflow: hidden;
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Caveat', cursive;
}

#canvas {
    background-color: #eaeaea;
    display: block;
    margin: 5px auto;
}

#startButton {
    padding: 5px 5px; /* Añade padding al botón */
    font-size: 16px; /* Ajusta el tamaño de fuente */
    cursor: pointer; /* Cambia el cursor a un puntero */
}
